<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./auth.css" />
    <script src="./auth.js" defer></script>
  </head>
  <body>
    <img class="auth-image" src="./auth.jpeg" alt="Auth" />
    <div class="auth-container">
      <h2 class="brand-title">My Welfare</h2>
      <div class="toggle-container">
        <button id="btn-login" type="button">Login</button>
        <button id="btn-register" type="button">Register</button>
      </div>

      <form id="auth-form">
        <div id="form-group"></div>
        <button type="submit" id="submit-btn">Submit</button>
      </form>
    </div>
  </body>
</html>
