<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="pg_admin.css" />
    <script src="pg_admin.js" defer></script>
  </head>
  <body>
    <div class="appbar">
      <h3>Welfare Management System</h3>
      <div class="right-appbar">
        <div class="user-info">
          <p>username</p>
          <p>(Admin)</p>
        </div>
        <button>Logout</button>
      </div>
    </div>

    <div class="body">
      <div class="sidebar">
        <h3>MENU</h3>
        <div>
          <p class="nav-item">Dashboard Summary</p>
          <p class="nav-item">View Applications</p>
          <p class="nav-item">View Complaints</p>
          <p class="nav-item">Distribute Aids</p>
        </div>
      </div>

      <div class="content" id="main-content"></div>
    </div>
  </body>
</html>
